N8N JSON/ai_model_integration_v2.json
{
  "name": "AI Model Integration (OpenAI)",
  "nodes": [
    {
      "parameters": {
        "mode": "manual"
      },
      "id": "e5b077d9-5f3d-4c1e-9d9c-0a9f8d8d7a3a",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "serviceId",
              "value": "={{ $json.serviceId || \"YOUR_SERVICE_ID_HERE\" }}"
            }
          ]
        }
      },
      "id": "b8a1c3d5-7e6f-4a2b-9c3d-5e7f8a9b0c1d",
      "name": "Set Service ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "projectId": "={{ $env.FIREBASE_PROJECT_ID }}",
        "operation": "get",
        "collection": "services",
        "documentId": "={{ $node[\"Set Service ID\"].json.serviceId }}"
      },
      "id": "c1d2e3f4-g5h6-i7j8-k9l0-m1n2o3p4q5r6",
      "name": "Get Service Data",
      "type": "n8n-nodes-base.firestore",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "firestoreApi": {
          "id": "firebase-credentials",
          "name": "Firestore account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "businessName",
              "type": "string",
              "parameterValue": "={{ $json.businessName || \"Business\" }}"
            },
            {
              "name": "email",
              "type": "string",
              "parameterValue": "={{ $json.email || \"\" }}"
            },
            {
              "name": "whatsappNumber",
              "type": "string",
              "parameterValue": "={{ $json.whatsappNumber || \"\" }}"
            },
            {
              "name": "businessWebsite",
              "type": "string",
              "parameterValue": "={{ $json.businessWebsite || \"\" }}"
            },
            {
              "name": "aiRole",
              "type": "string",
              "parameterValue": "={{ $json.aiRole || \"Customer Service Assistant\" }}"
            },
            {
              "name": "accountHolderName",
              "type": "string",
              "parameterValue": "={{ $json.accountHolderName || \"\" }}"
            },
            {
              "name": "accountNumber",
              "type": "string",
              "parameterValue": "={{ $json.accountNumber || \"\" }}"
            },
            {
              "name": "bankName",
              "type": "string",
              "parameterValue": "={{ $json.bankName || \"\" }}"
            },
            {
              "name": "businessHours",
              "type": "string",
              "parameterValue": "={{ $json.businessHours || \"\" }}"
            },
            {
              "name": "faqFileInfo",
              "type": "object",
              "parameterValue": "={{ $json.faqFileInfo || {} }}"
            },
            {
              "name": "catalogFileInfo",
              "type": "object",
              "parameterValue": "={{ $json.catalogFileInfo || {} }}"
            },
            {
              "name": "faqTextContent",
              "type": "string",
              "parameterValue": "={{ $json.faqTextContent || \"No FAQ knowledge base available\" }}"
            },
            {
              "name": "catalogTextContent",
              "type": "string",
              "parameterValue": "={{ $json.catalogTextContent || \"No product catalog available\" }}"
            },
            {
              "name": "aiTone",
              "type": "string",
              "parameterValue": "={{ $json.aiTone || \"Professional\" }}"
            },
            {
              "name": "paymentInfo",
              "type": "object",
              "parameterValue": "={{ $json.paymentInfo || {} }}"
            },
            {
              "name": "paymentMethods",
              "type": "array",
              "parameterValue": "={{ $json.paymentMethods || [] }}"
            },
            {
              "name": "paymentProcessing",
              "type": "string",
              "parameterValue": "={{ $json.paymentProcessing || \"Not specified\" }}"
            },
            {
              "name": "qrCodeImageInfo",
              "type": "object",
              "parameterValue": "={{ $json.qrCodeImageInfo || {} }}"
            },
            {
              "name": "receiveEmails",
              "type": "string",
              "parameterValue": "={{ $json.receiveEmails || \"yes\" }}"
            },
            {
              "name": "status",
              "type": "string",
              "parameterValue": "={{ $json.status || \"active\" }}"
            },
            {
              "name": "type",
              "type": "string",
              "parameterValue": "={{ $json.type || \"\" }}"
            },
            {
              "name": "userId",
              "type": "string",
              "parameterValue": "={{ $json.userId || \"\" }}"
            },
            {
              "name": "combinedKnowledgeBase",
              "type": "string",
              "parameterValue": "={{ $json.faqTextContent || \"No knowledge base available\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c9d8e7f6-g5h4-i3j2-k1l0-m9n8o7p6q5r4",
      "name": "Extract Service Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        680,
        420
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "MMMM DD, YYYY (h:mma)",
        "outputFieldName": "formattedDate"
      },
      "id": "d0e1f2g3-h4i5-j6k7-l8m9-n0o1p2q3r4s5",
      "name": "Format Current Date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        900,
        180
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "systemPrompt",
              "type": "string",
              "parameterValue": "=You are an AI assistant for {{ $json.businessName }}. Your role is to act as a {{ $json.aiRole }} with a {{ $json.aiTone }} tone.\n\nToday's date is {{ $node[\"Format Current Date\"].json.formattedDate }}.\n\nBusiness Information:\nBusiness Name: {{ $json.businessName }}\nBusiness Hours: {{ $json.businessHours || \"Not specified\" }}\nBusiness Website: {{ $json.businessWebsite }}\n\nHere is information about the business and its offerings:\n\nFAQ KNOWLEDGE BASE:\n{{ $json.faqTextContent }}\n\nPRODUCT CATALOG:\n{{ $json.catalogTextContent }}\n\nPayment Information:\nAccepted Payment Methods: {{ Array.isArray($json.paymentMethods) ? $json.paymentMethods.join(', ') : $json.paymentProcessing || \"Not specified\" }}\n{% if ($json.paymentInfo && $json.paymentInfo.method) { %}Payment Method: {{ $json.paymentInfo.method }}{% } %}\n\nBanking Details:\n{% if ($json.bankName) { %}Bank Name: {{ $json.bankName }}\nAccount Holder: {{ $json.accountHolderName }}\nAccount Number: {{ $json.accountNumber }}{% } %}\n\nWhen responding to customers:\n1. Be helpful and informative\n2. Maintain the {{ $json.aiTone }} tone\n3. If asked about products or services not mentioned in the knowledge base or catalog, politely explain that you don't have information about those items\n4. For payment-related questions, provide the appropriate payment details\n5. Format dates as \"Month DD, YYYY (h:mmam/pm)\" - for example \"May 15, 2025 (3:38pm)\"\n\nRespond concisely and accurately based on the information provided."
            }
          ]
        },
        "options": {}
      },
      "id": "d1e2f3g4-h5i6-j7k8-l9m0-n1o2p3q4r5s6",
      "name": "Prepare AI Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "operation": "chat",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "={{ $node[\"Prepare AI Context\"].json.systemPrompt }}"
            },
            {
              "role": "user",
              "content": "What services do you offer?"
            }
          ]
        },
        "options": {
          "model": "gpt-3.5-turbo",
          "temperature": 0.2,
          "maxTokens": 1024
        }
      },
      "id": "f1g2h3i4-j5k6-l7m8-n9o0-p1q2r3s4t5u6",
      "name": "Test OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "testResponse",
              "type": "string",
              "parameterValue": "={{ $json.response }}"
            },
            {
              "name": "success",
              "type": "boolean",
              "parameterValue": "=true"
            },
            {
              "name": "error",
              "type": "string",
              "parameterValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "g1h2i3j4-k5l6-m7n8-o9p0-q1r2s3t4u5v6",
      "name": "Process AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "projectId": "={{ $env.FIREBASE_PROJECT_ID }}",
        "operation": "update",
        "collection": "services",
        "documentId": "={{ $node[\"Set Service ID\"].json.serviceId }}",
        "updateFields": {
          "mode": "jsonCreator",
          "jsonCreator": {
            "aiSystemPrompt": "={{ $node[\"Prepare AI Context\"].json.systemPrompt }}",
            "aiTestResponse": "={{ $node[\"Process AI Response\"].json.testResponse }}",
            "aiTestSuccess": "={{ $node[\"Process AI Response\"].json.success }}",
            "aiTestError": "={{ $node[\"Process AI Response\"].json.error }}",
            "aiTestedAt": "={{ $now }}",
            "lastUpdated": "={{ $node[\"Format Current Date\"].json.formattedDate }}"
          }
        }
      },
      "id": "h1i2j3k4-l5m6-n7o8-p9q0-r1s2t3u4v5w6",
      "name": "Update Service with AI Context",
      "type": "n8n-nodes-base.firestore",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "firestoreApi": {
          "id": "firebase-credentials",
          "name": "Firestore account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Extract Service Parameters\"].json.receiveEmails }}",
              "operation": "equals",
              "value2": "yes"
            }
          ]
        }
      },
      "id": "i1j2k3l4-m5n6-o7p8-q9r0-s1t2u3v4w5x6",
      "name": "IF (Email Notifications Enabled)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.NOTIFICATION_EMAIL }}",
        "toEmail": "={{ $node[\"Extract Service Parameters\"].json.email }}",
        "subject": "=SynchroAI: AI Context Updated for {{ $node[\"Extract Service Parameters\"].json.businessName }}",
        "text": "=Hello,\n\nYour AI context for {{ $node[\"Extract Service Parameters\"].json.businessName }} has been updated.\n\nDate: {{ $node[\"Format Current Date\"].json.formattedDate }}\n\nTest Response:\n{{ $node[\"Process AI Response\"].json.testResponse }}\n\nSign in to your SynchroAI dashboard to view and manage your AI settings.\n\nThank you,\nThe SynchroAI Team"
      },
      "id": "j1k2l3m4-n5o6-p7q8-r9s0-t1u2v3w4x5y6",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        2000,
        240
      ],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {},
      "id": "k1l2m3n4-o5p6-q7r8-s9t0-u1v2w3x4y5z6",
      "name": "No-Op Node",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2000,
        400
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Service ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Service ID": {
      "main": [
        [
          {
            "node": "Get Service Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Service Data": {
      "main": [
        [
          {
            "node": "Extract Service Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Service Parameters": {
      "main": [
        [
          {
            "node": "Format Current Date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Current Date": {
      "main": [
        [
          {
            "node": "Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Context": {
      "main": [
        [
          {
            "node": "Test OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test OpenAI": {
      "main": [
        [
          {
            "node": "Process AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Response": {
      "main": [
        [
          {
            "node": "Update Service with AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Service with AI Context": {
      "main": [
        [
          {
            "node": "IF (Email Notifications Enabled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Email Notifications Enabled)": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No-Op Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    {
      "name": "SynchroAI"
    },
    {
      "name": "AI"
    },
    {
      "name": "OpenAI"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-16T05:05:00.000Z",
  "versionId": "7890ghij-1234-56kl-mnop-qrstuvwxyzab"
}
