N8N JSON/faq_knowledge_base_processing_standard.json
{
  "name": "FAQ Knowledge Base File Processing (Standard Nodes)",
  "nodes": [
    {
      "parameters": {
        "mode": "manual"
      },
      "id": "e5b077d9-5f3d-4c1e-9d9c-0a9f8d8d7a3a",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "serviceId",
              "value": "={{ $json.serviceId || \"YOUR_SERVICE_ID_HERE\" }}"
            }
          ]
        }
      },
      "id": "b8a1c3d5-7e6f-4a2b-9c3d-5e7f8a9b0c1d",
      "name": "Set Service ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "projectId": "={{ $env.FIREBASE_PROJECT_ID }}",
        "credentials": {
          "serviceAccount": "={{ $env.FIREBASE_SERVICE_ACCOUNT_KEY }}"
        },
        "operation": "get",
        "collection": "services",
        "documentId": "={{ $json.serviceId }}"
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Firestore",
      "type": "n8n-nodes-base.firestore",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "MMMM DD, YYYY (h:mma)",
        "outputFieldName": "formattedDate"
      },
      "id": "z9y8x7w6-v5u4-t3s2-r1q0-p9o8n7m6l5k4",
      "name": "Format Current Date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        680,
        180
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "businessName",
              "type": "string",
              "parameterValue": "={{ $json.businessName || \"\" }}"
            },
            {
              "name": "email",
              "type": "string",
              "parameterValue": "={{ $json.email || \"\" }}"
            },
            {
              "name": "whatsappNumber",
              "type": "string",
              "parameterValue": "={{ $json.whatsappNumber || \"\" }}"
            },
            {
              "name": "businessWebsite",
              "type": "string",
              "parameterValue": "={{ $json.businessWebsite || \"\" }}"
            },
            {
              "name": "aiRole",
              "type": "string",
              "parameterValue": "={{ $json.aiRole || \"\" }}"
            },
            {
              "name": "faqKnowledgeBase",
              "type": "string",
              "parameterValue": "={{ $json.faqFile || \"\" }}"
            },
            {
              "name": "aiTone",
              "type": "string",
              "parameterValue": "={{ $json.aiTone || \"Professional\" }}"
            },
            {
              "name": "paymentMethod",
              "type": "string",
              "parameterValue": "={{ $json.paymentProcessing || \"Not specified\" }}"
            },
            {
              "name": "gmailNotificationPreference",
              "type": "string",
              "parameterValue": "={{ $json.receiveEmails || \"yes\" }}"
            },
            {
              "name": "hasWebsite",
              "type": "boolean",
              "parameterValue": "={{ !!$json.businessWebsite }}"
            },
            {
              "name": "hasFaqFile",
              "type": "boolean",
              "parameterValue": "={{ !!$json.faqFile }}"
            },
            {
              "name": "formattedDate",
              "type": "string",
              "parameterValue": "={{ $node[\"Format Current Date\"].json.formattedDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1e2d3c4-b5a6-7f8e-9d0c-1b2a3c4d5e6f",
      "name": "Extract Service Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasFaqFile }}",
              "value2": true
            }
          ]
        }
      },
      "id": "d1c2b3a4-9e8f-7d6c-5b4a-3e2d1c0b9a8f",
      "name": "IF (Has FAQ File)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.faqKnowledgeBase }}",
        "options": {
          "redirect": {
            "redirect": true,
            "followRedirects": true
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "e1f2g3h4-i5j6-k7l8-m9n0-o1p2q3r4s5t6",
      "name": "Download FAQ File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1340,
        240
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.headers[\"content-type\"] || \"\" }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "pdf",
              "outputValue": "pdf"
            },
            {
              "operation": "contains",
              "value2": "excel",
              "outputValue": "excel"
            },
            {
              "operation": "contains",
              "value2": "spreadsheet",
              "outputValue": "excel"
            },
            {
              "operation": "contains",
              "value2": "csv",
              "outputValue": "excel"
            }
          ]
        },
        "fallbackValue": "unknown"
      },
      "id": "f1g2h3i4-j5k6-l7m8-n9o0-p1q2r3s4t5u6",
      "name": "File Type By Content-Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1560,
        180
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.faqKnowledgeBase.split(\".\").pop().toLowerCase() }}",
        "rules": {
          "rules": [
            {
              "value2": "pdf",
              "outputValue": "pdf"
            },
            {
              "value2": "xls",
              "outputValue": "excel"
            },
            {
              "value2": "xlsx",
              "outputValue": "excel"
            },
            {
              "value2": "csv",
              "outputValue": "excel"
            }
          ]
        },
        "fallbackValue": "unknown"
      },
      "id": "g1h2i3j4-k5l6-m7n8-o9p0-q1r2s3t4u5v6",
      "name": "File Type By Extension",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "fileType",
              "type": "string",
              "parameterValue": "={{ $node[\"File Type By Content-Type\"].json === \"unknown\" ? $node[\"File Type By Extension\"].json : $node[\"File Type By Content-Type\"].json }}"
            },
            {
              "name": "contentType",
              "type": "string",
              "parameterValue": "={{ $json.headers[\"content-type\"] || \"\" }}"
            },
            {
              "name": "extension",
              "type": "string",
              "parameterValue": "={{ $json.faqKnowledgeBase.split(\".\").pop().toLowerCase() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "h1i2j3k4-l5m6-n7o8-p9q0-r1s2t3u4v5w6",
      "name": "Determine File Type",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1780,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.fileType }}",
              "operation": "equals",
              "value2": "pdf"
            }
          ]
        }
      },
      "id": "i1j2k3l4-m5n6-o7p8-q9r0-s1t2u3v4w5x6",
      "name": "IF (PDF File)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://api.pdfextractor.example.com/extract",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"pdfData\": \"{{ $node[\"Download FAQ File\"].json.data }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "j1k2l3m4-n5o6-p7q8-r9s0-t1u2v3w4x5y6",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2220,
        180
      ]
    },
    {
      "parameters": {
        "url": "https://api.excelextractor.example.com/extract",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"excelData\": \"{{ $node[\"Download FAQ File\"].json.data }}\",\n  \"fileType\": \"{{ $node[\"Determine File Type\"].json.extension }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "k1l2m3n4-o5p6-q7r8-s9t0-u1v2w3x4y5z6",
      "name": "Extract Excel Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "extractedText",
              "type": "string",
              "parameterValue": "=Unable to extract text from file of type: {{ $json.fileType }}. Supported formats are PDF and Excel."
            },
            {
              "name": "fileProcessingError",
              "type": "boolean",
              "parameterValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "l1m2n3o4-p5q6-r7s8-t9u0-v1w2x3y4z5a6",
      "name": "Handle Unsupported File",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2220,
        420
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "extractedText",
              "type": "string",
              "parameterValue": "={{ $json.body && $json.body.extractedText ? $json.body.extractedText : \"No text could be extracted from the PDF file.\" }}"
            },
            {
              "name": "pdfInfo",
              "type": "json",
              "parameterValue": "={{ $json.body && $json.body.pdfInfo ? $json.body.pdfInfo : {\"pageCount\": 0, \"error\": \"Failed to get PDF metadata\"} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "m1n2o3p4-q5r6-s7t8-u9v0-w1x2y3z4a5b6",
      "name": "Format PDF Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2400,
        180
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "extractedText",
              "type": "string",
              "parameterValue": "={{ $json.body && $json.body.extractedText ? $json.body.extractedText : \"No text could be extracted from the Excel file.\" }}"
            },
            {
              "name": "excelInfo",
              "type": "json",
              "parameterValue": "={{ $json.body && $json.body.excelInfo ? $json.body.excelInfo : {\"sheetCount\": 0, \"error\": \"Failed to get Excel metadata\"} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "n1o2p3q4-r5s6-t7u8-v9w0-x1y2z3a4b5c6",
      "name": "Format Excel Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2400,
        300
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "fileProcessed",
              "type": "boolean",
              "parameterValue": false
            },
            {
              "name": "extractedText",
              "type": "string",
              "parameterValue": null
            },
            {
              "name": "fileType",
              "type": "string",
              "parameterValue": null
            },
            {
              "name": "processedAt",
              "type": "string",
              "parameterValue": "={{ $node[\"Extract Service Parameters\"].json.formattedDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "o1p2q3r4-s5t6-u7v8-w9x0-y1z2a3b4c5d6",
      "name": "No FAQ File Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.extractedText }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "p1q2r3s4-t5u6-v7w8-x9y0-z1a2b3c4d5e6",
      "name": "IF (Has Extracted Text)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2580,
        300
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "fileProcessed",
              "type": "boolean",
              "parameterValue": true
            },
            {
              "name": "processedAt",
              "type": "string",
              "parameterValue": "={{ $node[\"Extract Service Parameters\"].json.formattedDate }}"
            },
            {
              "name": "wordCount",
              "type": "number",
              "parameterValue": "={{ $json.extractedText.split(/\\s+/).filter(word => word.length > 0).length }}"
            },
            {
              "name": "charCount",
              "type": "number",
              "parameterValue": "={{ $json.extractedText.length }}"
            }
          ]
        },
        "options": {}
      },
      "id": "q1r2s3t4-u5v6-w7x8-y9z0-a1b2c3d4e5f6",
      "name": "Calculate Text Stats",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2760,
        240
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "fileProcessed",
              "type": "boolean",
              "parameterValue": false
            },
            {
              "name": "processedAt",
              "type": "string",
              "parameterValue": "={{ $node[\"Extract Service Parameters\"].json.formattedDate }}"
            },
            {
              "name": "error",
              "type": "string",
              "parameterValue": "Text extraction failed or produced empty results"
            }
          ]
        },
        "options": {}
      },
      "id": "r1s2t3u4-v5w6-x7y8-z9a0-b1c2d3e4f5g6",
      "name": "Set Error Stats",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2760,
        400
      ]
    },
    {
      "parameters": {
        "mergeWith": {
          "value": "={{ $json }}",
          "mode": "combining"
        },
        "options": {
          "allowEmptyValues": true
        }
      },
      "id": "s1t2u3v4-w5x6-y7z8-a9b0-c1d2e3f4g5h6",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2940,
        300
      ]
    },
    {
      "parameters": {
        "projectId": "={{ $env.FIREBASE_PROJECT_ID }}",
        "credentials": {
          "serviceAccount": "={{ $env.FIREBASE_SERVICE_ACCOUNT_KEY }}"
        },
        "operation": "update",
        "collection": "services",
        "documentId": "={{ $node[\"Extract Service Parameters\"].json.serviceId }}",
        "fields": {
          "values": [
            {
              "name": "faqTextContent",
              "value": "={{ $json.extractedText }}"
            },
            {
              "name": "faqTextStats",
              "value": "={{ $json.wordCount ? {\"wordCount\": $json.wordCount, \"charCount\": $json.charCount} : null }}"
            },
            {
              "name": "faqFileType",
              "value": "={{ $json.fileType }}"
            },
            {
              "name": "faqProcessedAt",
              "value": "={{$firestore.serverTimestamp()}}"
            },
            {
              "name": "faqProcessedAtFormatted",
              "value": "={{ $json.processedAt }}"
            }
          ]
        }
      },
      "id": "t1u2v3w4-x5y6-z7a8-b9c0-d1e2f3g4h5i6",
      "name": "Save to Firestore",
      "type": "n8n-nodes-base.firestore",
      "typeVersion": 2,
      "position": [
        3120,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Service ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Current Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Service ID": {
      "main": [
        [
          {
            "node": "Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firestore": {
      "main": [
        [
          {
            "node": "Extract Service Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Current Date": {
      "main": [
        [
          {
            "node": "Extract Service Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Service Parameters": {
      "main": [
        [
          {
            "node": "IF (Has FAQ File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Has FAQ File)": {
      "main": [
        [
          {
            "node": "Download FAQ File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No FAQ File Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download FAQ File": {
      "main": [
        [
          {
            "node": "File Type By Content-Type",
            "type": "main",
            "index": 0
          },
          {
            "node": "File Type By Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Type By Content-Type": {
      "main": [
        [
          {
            "node": "Determine File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Type By Extension": {
      "main": [
        [
          {
            "node": "Determine File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine File Type": {
      "main": [
        [
          {
            "node": "IF (PDF File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (PDF File)": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Excel Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Handle Unsupported File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Format PDF Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Excel Text": {
      "main": [
        [
          {
            "node": "Format Excel Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format PDF Results": {
      "main": [
        [
          {
            "node": "IF (Has Extracted Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Excel Results": {
      "main": [
        [
          {
            "node": "IF (Has Extracted Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Unsupported File": {
      "main": [
        [
          {
            "node": "IF (Has Extracted Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No FAQ File Values": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IF (Has Extracted Text)": {
      "main": [
        [
          {
            "node": "Calculate Text Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Text Stats": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Stats": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Save to Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    {
      "name": "SynchroAI"
    },
    {
      "name": "FileProcessing"
    },
    {
      "name": "FAQ"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-15T15:48:58.000Z",
  "versionId": "5678efgh-9012-34ij-klmn-opqrstuvwxyz"
}
