N8N JSON/whatsapp_shared_ai_standard.json
{
  "name": "WhatsApp Shared AI Integration (Standard Nodes)",
  "nodes": [
    {
      "parameters": {
        "mode": "manual"
      },
      "id": "e5b077d9-5f3d-4c1e-9d9c-0a9f8d8d7a3a",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "serviceId",
              "value": "={{ $json.serviceId || \"YOUR_SERVICE_ID_HERE\" }}"
            },
            {
              "name": "customerNumber",
              "value": "={{ $json.customerNumber || \"\" }}"
            },
            {
              "name": "messageContent",
              "value": "={{ $json.messageContent || \"\" }}"
            },
            {
              "name": "messageType",
              "value": "={{ $json.messageType || \"text\" }}"
            },
            {
              "name": "packageType",
              "value": "={{ $json.packageType || \"faq\" }}"
            }
          ]
        }
      },
      "id": "b8a1c3d5-7e6f-4a2b-9c3d-5e7f8a9b0c1d",
      "name": "Set Input Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "projectId": "={{ $env.FIREBASE_PROJECT_ID }}",
        "credentials": {
          "serviceAccount": "={{ $env.FIREBASE_SERVICE_ACCOUNT_KEY }}"
        },
        "operation": "get",
        "collection": "services",
        "documentId": "={{ $json.serviceId }}"
      },
      "id": "c1d2e3f4-g5h6-i7j8-k9l0-m1n2o3p4q5r6",
      "name": "Get Service Data",
      "type": "n8n-nodes-base.firestore",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "MMMM DD, YYYY (h:mma)",
        "outputFieldName": "formattedDate"
      },
      "id": "d0e1f2g3-h4i5-j6k7-l8m9-n0o1p2q3r4s5",
      "name": "Format Current Date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        680,
        180
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "businessName",
              "type": "string",
              "parameterValue": "={{ $json.businessName || \"Business\" }}"
            },
            {
              "name": "email",
              "type": "string",
              "parameterValue": "={{ $json.email || \"\" }}"
            },
            {
              "name": "whatsappNumber",
              "type": "string",
              "parameterValue": "={{ $json.whatsappNumber || \"\" }}"
            },
            {
              "name": "businessWebsite",
              "type": "string",
              "parameterValue": "={{ $json.businessWebsite || \"\" }}"
            },
            {
              "name": "aiRole",
              "type": "string",
              "parameterValue": "={{ $json.aiRole || \"Customer Service Assistant\" }}"
            },
            {
              "name": "faqKnowledgeBase",
              "type": "string",
              "parameterValue": "={{ $json.faqFile || \"\" }}"
            },
            {
              "name": "catalogFile",
              "type": "string",
              "parameterValue": "={{ $json.catalogFile || \"\" }}"
            },
            {
              "name": "faqTextContent",
              "type": "string",
              "parameterValue": "={{ $json.faqTextContent || \"\" }}"
            },
            {
              "name": "catalogTextContent",
              "type": "string",
              "parameterValue": "={{ $json.catalogTextContent || \"\" }}"
            },
            {
              "name": "aiTone",
              "type": "string",
              "parameterValue": "={{ $json.aiTone || \"Professional\" }}"
            },
            {
              "name": "paymentMethods",
              "type": "string",
              "parameterValue": "={{ $json.paymentMethods || \"Not specified\" }}"
            },
            {
              "name": "paymentMethodsList",
              "type": "json",
              "parameterValue": "={{ $json.paymentMethodsList || [] }}"
            },
            {
              "name": "gmailNotificationPreference",
              "type": "string",
              "parameterValue": "={{ $json.receiveEmails || \"yes\" }}"
            },
            {
              "name": "orderEnabled",
              "type": "boolean",
              "parameterValue": "={{ $json.orderEnabled === true }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1e2d3c4-b5a6-7f8e-9d0c-1b2a3c4d5e6f",
      "name": "Extract Service Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.packageType }}",
              "operation": "equals",
              "value2": "order"
            }
          ]
        }
      },
      "id": "g1h2i3j4-k5l6-m7n8-o9p0-q1r2s3t4u5v6",
      "name": "IF (Order Package)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "systemPrompt",
              "type": "string",
              "parameterValue": "=You are an AI assistant for {{ $node[\"Extract Service Parameters\"].json.businessName }}. \n\nYour role is: {{ $node[\"Extract Service Parameters\"].json.aiRole || 'Customer Service Assistant' }}.\n\nYou should respond in a {{ $node[\"Extract Service Parameters\"].json.aiTone || 'Professional' }} tone.\n\nToday's date is {{ $node[\"Format Current Date\"].json.formattedDate }}.\n\nBusiness contact information:\nWhatsApp: {{ $node[\"Extract Service Parameters\"].json.whatsappNumber }}\nEmail: {{ $node[\"Extract Service Parameters\"].json.email }}\n{{ $node[\"Extract Service Parameters\"].json.businessWebsite ? 'Website: ' + $node[\"Extract Service Parameters\"].json.businessWebsite : '' }}\n\nYou have access to the following knowledge base to help answer customer questions:\n\n{{ $node[\"Extract Service Parameters\"].json.faqTextContent }}\n\nWhen responding to customers:\n1. Be concise and helpful\n2. Only provide information that is contained in the knowledge base\n3. If you don't know the answer, politely say so and offer to connect the customer with a human representative\n4. Never make up information\n5. Format WhatsApp messages appropriately with short paragraphs and clear structure\n6. Use emojis sparingly and professionally\n7. Always maintain the specified tone in your responses"
            }
          ]
        },
        "options": {}
      },
      "id": "h1i2j3k4-l5m6-n7o8-p9q0-r1s2t3u4v5w6",
      "name": "Prepare FAQ AI Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1340,
        240
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "systemPrompt",
              "type": "string",
              "parameterValue": "=You are an AI assistant for {{ $node[\"Extract Service Parameters\"].json.businessName }}. \n\nYour role is: {{ $node[\"Extract Service Parameters\"].json.aiRole || 'Order Processing Assistant' }}.\n\nYou should respond in a {{ $node[\"Extract Service Parameters\"].json.aiTone || 'Professional' }} tone.\n\nToday's date is {{ $node[\"Format Current Date\"].json.formattedDate }}.\n\nBusiness contact information:\nWhatsApp: {{ $node[\"Extract Service Parameters\"].json.whatsappNumber }}\nEmail: {{ $node[\"Extract Service Parameters\"].json.email }}\n{{ $node[\"Extract Service Parameters\"].json.businessWebsite ? 'Website: ' + $node[\"Extract Service Parameters\"].json.businessWebsite : '' }}\n\nPayment processing method: {{ $node[\"Extract Service Parameters\"].json.paymentMethods || 'Not specified' }}\nPayment options: {{ JSON.stringify($node[\"Extract Service Parameters\"].json.paymentMethodsList) }}\n\nYou have access to the following product catalog to help answer customer questions:\n\n{{ $node[\"Extract Service Parameters\"].json.catalogTextContent }}\n\nWhen responding to customers:\n1. Be concise and helpful\n2. Only provide information about products in the catalog\n3. If a customer wants to place an order, help them select products and quantities\n4. Never make up information about products or pricing\n5. Format WhatsApp messages appropriately with short paragraphs and clear structure\n6. Use emojis sparingly and professionally\n7. Always maintain the specified tone in your responses"
            }
          ]
        },
        "options": {}
      },
      "id": "i1j2k3l4-m5n6-o7p8-q9r0-s1t2u3v4w5x6",
      "name": "Prepare Order AI Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1340,
        380
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "modelParameters",
              "type": "json",
              "parameterValue": "{\n  \"model\": \"gemini-pro\",\n  \"temperature\": 0.7,\n  \"maxOutputTokens\": 500,\n  \"topK\": 40,\n  \"topP\": 0.95\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "j1k2l3m4-n5o6-p7q8-r9s0-t1u2v3w4x5y6",
      "name": "Set Model Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1120,
        500
      ]
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key={{$env.GEMINI_API_KEY}}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"role\":\"user\",\n    \"parts\":[{\n      \"text\":\"{{ $node[\"Set Input Parameters\"].json.messageContent }}\"\n    }]\n  }],\n  \"systemInstruction\": {\n    \"parts\":[{\n      \"text\":\"{{ $json.systemPrompt }}\"\n    }]\n  },\n  \"generationConfig\": {{ $node[\"Set Model Parameters\"].json.modelParameters }}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "k1l2m3n4-o5p6-q7r8-s9t0-u1v2w3x4y5z6",
      "name": "Gemini AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "aiResponse",
              "type": "string",
              "parameterValue": "={{ $json.body.candidates[0].content.parts[0].text }}"
            },
            {
              "name": "responseTimestamp",
              "type": "string",
              "parameterValue": "={{ $now }}"
            },
            {
              "name": "responseFormatted",
              "type": "string",
              "parameterValue": "={{ $node[\"Format Current Date\"].json.formattedDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "l1m2n3o4-p5q6-r7s8-t9u0-v1w2x3y4z5a6",
      "name": "Process AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.WHATSAPP_API_DOMAIN }}/v18.0/{{ $json.whatsappBusinessAccountId }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpHeaderAuth": {
          "name": "Authorization",
          "value": "=Bearer {{ $env.WHATSAPP_API_TOKEN }}"
        },
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $node[\"Set Input Parameters\"].json.customerNumber }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"{{ $node[\"Process AI Response\"].json.aiResponse }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "m1n2o3p4-q5r6-s7t8-u9v0-w1x2y3z4a5b6",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Extract Service Parameters\"].json.gmailNotificationPreference }}",
              "operation": "equals",
              "value2": "yes"
            }
          ]
        }
      },
      "id": "n1o2p3q4-r5s6-t7u8-v9w0-x1y2z3a4b5c6",
      "name": "IF (Email Notifications Enabled)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        500
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "basicAuth",
        "genericAuthTypeBasicAuth": {
          "user": "={{ $env.SMTP_USERNAME }}",
          "password": "={{ $env.SMTP_PASSWORD }}"
        },
        "fromEmail": "={{ $env.NOTIFICATION_EMAIL }}",
        "toEmail": "={{ $node[\"Extract Service Parameters\"].json.email }}",
        "subject": "=New WhatsApp Interaction - {{ $node[\"Extract Service Parameters\"].json.businessName }} - {{ $node[\"Process AI Response\"].json.responseFormatted }}",
        "html": "=<h2>New WhatsApp Interaction</h2>\n<p>A customer has interacted with your WhatsApp assistant.</p>\n\n<p><strong>Customer:</strong> {{ $node[\"Set Input Parameters\"].json.customerNumber }}<br>\n<strong>Date:</strong> {{ $node[\"Process AI Response\"].json.responseFormatted }}</p>\n\n<div style=\"background-color: #f5f5f5; padding: 15px; border-radius: 5px; margin: 15px 0;\">\n  <p><strong>Customer Message:</strong><br>\n  \"{{ $node[\"Set Input Parameters\"].json.messageContent }}\"</p>\n  \n  <p><strong>AI Response:</strong><br>\n  \"{{ $node[\"Process AI Response\"].json.aiResponse }}\"</p>\n</div>\n\n<p><em>This is an automated notification from SynchroAI.</em></p>"
      },
      "id": "o1p2q3r4-s5t6-u7v8-w9x0-y1z2a3b4c5d6",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        2220,
        440
      ]
    },
    {
      "parameters": {},
      "id": "p1q2r3s4-t5u6-v7w8-x9y0-z1a2b3c4d5e6",
      "name": "No-Op Node",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2220,
        560
      ]
    },
    {
      "parameters": {
        "projectId": "={{ $env.FIREBASE_PROJECT_ID }}",
        "credentials": {
          "serviceAccount": "={{ $env.FIREBASE_SERVICE_ACCOUNT_KEY }}"
        },
        "operation": "create",
        "collection": "chatInteractions",
        "fields": {
          "values": [
            {
              "name": "serviceId",
              "value": "={{ $node[\"Set Input Parameters\"].json.serviceId }}"
            },
            {
              "name": "customerNumber",
              "value": "={{ $node[\"Set Input Parameters\"].json.customerNumber }}"
            },
            {
              "name": "customerMessage",
              "value": "={{ $node[\"Set Input Parameters\"].json.messageContent }}"
            },
            {
              "name": "aiResponse",
              "value": "={{ $node[\"Process AI Response\"].json.aiResponse }}"
            },
            {
              "name": "packageType",
              "value": "={{ $node[\"Set Input Parameters\"].json.packageType }}"
            },
            {
              "name": "timestamp",
              "value": "={{$firestore.serverTimestamp()}}"
            },
            {
              "name": "timestampFormatted",
              "value": "={{ $node[\"Process AI Response\"].json.responseFormatted }}"
            }
          ]
        }
      },
      "id": "q1r2s3t4-u5v6-w7x8-y9z0-a1b2c3d4e5f6",
      "name": "Log Chat Interaction",
      "type": "n8n-nodes-base.firestore",
      "typeVersion": 2,
      "position": [
        2000,
        120
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Parameters": {
      "main": [
        [
          {
            "node": "Get Service Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Current Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Service Data": {
      "main": [
        [
          {
            "node": "Extract Service Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Current Date": {
      "main": [
        [
          {
            "node": "Extract Service Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Service Parameters": {
      "main": [
        [
          {
            "node": "IF (Order Package)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Model Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Order Package)": {
      "main": [
        [
          {
            "node": "Prepare Order AI Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare FAQ AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare FAQ AI Context": {
      "main": [
        [
          {
            "node": "Gemini AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Order AI Context": {
      "main": [
        [
          {
            "node": "Gemini AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Model Parameters": {
      "main": [
        [
          {
            "node": "Gemini AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI Response": {
      "main": [
        [
          {
            "node": "Process AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Chat Interaction",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF (Email Notifications Enabled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Email Notifications Enabled)": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No-Op Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    {
      "name": "SynchroAI"
    },
    {
      "name": "WhatsApp"
    },
    {
      "name": "AI"
    },
    {
      "name": "Shared"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-16T00:35:07+08:00",
  "versionId": "efgh5678-9012-34ij-klmn-opqrstuvwxyz"
}
