N8N JSON/whatsapp_shared_webhook_standard.json
{
  "name": "WhatsApp Shared Webhook Handler (Standard Nodes)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/whatsapp",
        "authentication": "genericCredentialType",
        "genericAuthType": "text",
        "options": {}
      },
      "id": "e5b077d9-5f3d-4c1e-9d9c-0a9f8d8d7a3a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "whatsapp-shared-webhook"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "customerNumber",
              "value": "={{ $json.entry[0].changes[0].value.messages[0].from }}"
            },
            {
              "name": "messageType",
              "value": "={{ $json.entry[0].changes[0].value.messages[0].type }}"
            },
            {
              "name": "messageTimestamp",
              "value": "={{ $json.entry[0].changes[0].value.messages[0].timestamp }}"
            },
            {
              "name": "messageId",
              "value": "={{ $json.entry[0].changes[0].value.messages[0].id }}"
            },
            {
              "name": "whatsappBusinessAccountId",
              "value": "={{ $json.entry[0].changes[0].value.metadata.phone_number_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1e2d3c4-b5a6-7f8e-9d0c-1b2a3c4d5e6f",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "text"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "IF (Text Message)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "messageContent",
              "value": "={{ $json.entry[0].changes[0].value.messages[0].text.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b8a1c3d5-7e6f-4a2b-9c3d-5e7f8a9b0c1d",
      "name": "Extract Text Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        840,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "image"
            }
          ]
        }
      },
      "id": "c1d2e3f4-g5h6-i7j8-k9l0-m1n2o3p4q5r6",
      "name": "IF (Image Message)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        840,
        400
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "imageId",
              "value": "={{ $json.entry[0].changes[0].value.messages[0].image.id }}"
            },
            {
              "name": "imageCaption",
              "value": "={{ $json.entry[0].changes[0].value.messages[0].image.caption || \"No caption\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d0e1f2g3-h4i5-j6k7-l8m9-n0o1p2q3r4s5",
      "name": "Extract Image Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1040,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "document"
            }
          ]
        }
      },
      "id": "d1e2f3g4-h5i6-j7k8-l9m0-n1o2p3q4r5s6",
      "name": "IF (Document Message)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        840,
        550
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "documentId",
              "value": "={{ $json.entry[0].changes[0].value.messages[0].document.id }}"
            },
            {
              "name": "documentFilename",
              "value": "={{ $json.entry[0].changes[0].value.messages[0].document.filename || \"Unknown file\" }}"
            },
            {
              "name": "documentMimeType",
              "value": "={{ $json.entry[0].changes[0].value.messages[0].document.mime_type || \"application/octet-stream\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e1f2g3h4-i5j6-k7l8-m9n0-o1p2q3r4s5t6",
      "name": "Extract Document Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1040,
        520
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.WHATSAPP_API_DOMAIN }}/v1/{{ $json.whatsappBusinessAccountId }}/media/{{ $json.imageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpHeaderAuth": {
          "name": "Authorization",
          "value": "=Bearer {{ $env.WHATSAPP_API_TOKEN }}"
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "f1g2h3i4-j5k6-l7m8-n9o0-p1q2r3s4t5u6",
      "name": "Get Image Media URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1240,
        360
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.WHATSAPP_API_DOMAIN }}/v1/{{ $json.whatsappBusinessAccountId }}/media/{{ $json.documentId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpHeaderAuth": {
          "name": "Authorization",
          "value": "=Bearer {{ $env.WHATSAPP_API_TOKEN }}"
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "g1h2i3j4-k5l6-m7n8-o9p0-q1r2s3t4u5v6",
      "name": "Get Document Media URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1240,
        520
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.body.url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "h1i2j3k4-l5m6-n7o8-p9q0-r1s2t3u4v5w6",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1440,
        360
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.body.url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "i1j2k3l4-m5n6-o7p8-q9r0-s1t2u3v4w5x6",
      "name": "Download Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1440,
        520
      ]
    },
    {
      "parameters": {
        "projectId": "={{ $env.FIREBASE_PROJECT_ID }}",
        "credentials": {
          "serviceAccount": "={{ $env.FIREBASE_SERVICE_ACCOUNT_KEY }}"
        },
        "operation": "query",
        "collection": "serviceWhatsappMapping",
        "options": {
          "where": [
            {
              "field": "whatsappNumber",
              "value": "={{ $json.customerNumber }}"
            }
          ],
          "limit": 1
        }
      },
      "id": "m1n2o3p4-q5r6-s7t8-u9v0-w1x2y3z4a5b6",
      "name": "Query Service Mapping",
      "type": "n8n-nodes-base.firestore",
      "typeVersion": 2,
      "position": [
        1840,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length || 0 }}",
              "operation": "equals",
              "value2": 0
            }
          ]
        }
      },
      "id": "n1o2p3q4-r5s6-t7u8-v9w0-x1y2z3a4b5c6",
      "name": "IF (No Service Found)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2040,
        380
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "serviceId",
              "type": "string",
              "parameterValue": "={{ $json[0].serviceId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "o1p2q3r4-s5t6-u7v8-w9x0-y1z2a3b4c5d6",
      "name": "Extract Service ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2240,
        320
      ]
    },
    {
      "parameters": {
        "projectId": "={{ $env.FIREBASE_PROJECT_ID }}",
        "credentials": {
          "serviceAccount": "={{ $env.FIREBASE_SERVICE_ACCOUNT_KEY }}"
        },
        "operation": "get",
        "collection": "services",
        "documentId": "={{ $json.serviceId }}"
      },
      "id": "p1q2r3s4-t5u6-v7w8-x9y0-z1a2b3c4d5e6",
      "name": "Get Service Data",
      "type": "n8n-nodes-base.firestore",
      "typeVersion": 2,
      "position": [
        2440,
        320
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "noServiceFoundMessage",
              "type": "string",
              "parameterValue": "I'm sorry, but I couldn't find a business associated with this WhatsApp number. Please contact the business directly for assistance."
            }
          ]
        },
        "options": {}
      },
      "id": "q1r2s3t4-u5v6-w7x8-y9z0-a1b2c3d4e5f6",
      "name": "Set Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2240,
        460
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "MMMM DD, YYYY (h:mma)",
        "outputFieldName": "formattedDate"
      },
      "id": "s1t2u3v4-w5x6-y7z8-a9b0-c1d2e3f4g5h6",
      "name": "Format Current Date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        2640,
        200
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "businessName",
              "type": "string",
              "parameterValue": "={{ $json.businessName || 'Business' }}"
            },
            {
              "name": "aiRole",
              "type": "string",
              "parameterValue": "={{ $json.aiRole || 'Customer Service Assistant' }}"
            },
            {
              "name": "serviceType",
              "type": "string",
              "parameterValue": "={{ $json.type || 'faq' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "t1u2v3w4-x5y6-z7a8-b9c0-d1e2f3g4h5i6",
      "name": "Extract Service Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2440,
        320
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "responseMessage",
              "type": "string",
              "parameterValue": "={{ $json.serviceFound ? `Thank you for contacting ${$json.businessName}. Your message has been received and will be processed.` : 'Sorry, this service is not available. Please contact support.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "u1v2w3x4-y5z6-a7b8-c9d0-e1f2g3h4i5j6",
      "name": "Prepare Response Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2840,
        320
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.WHATSAPP_API_DOMAIN }}/v18.0/{{ $node[\"Extract Message Data\"].json.whatsappBusinessAccountId }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "bearer",
        "genericAuthTypeBearer": "={{ $env.WHATSAPP_API_TOKEN }}",
        "httpHeaderAuth": {
          "name": "Authorization",
          "value": "=Bearer {{ $env.WHATSAPP_API_TOKEN }}"
        },
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $node[\"Extract Message Data\"].json.customerNumber }}\",\n  \"type\": \"text\",\n  \"text\": { \n    \"preview_url\": false,\n    \"body\": \"{{ $node[\"Prepare Response Data\"].json.responseMessage }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "v1w2x3y4-z5a6-b7c8-d9e0-f1g2h3i4j5k6",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3040,
        380
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "IF (Text Message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Text Message)": {
      "main": [
        [
          {
            "node": "Extract Text Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF (Image Message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Image Message)": {
      "main": [
        [
          {
            "node": "Extract Image Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF (Document Message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Document Message)": {
      "main": [
        [
          {
            "node": "Extract Document Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract Text Content": {
      "main": [
        [
          {
            "node": "Query Service Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image Data": {
      "main": [
        [
          {
            "node": "Get Image Media URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Data": {
      "main": [
        [
          {
            "node": "Get Document Media URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Media URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document Media URL": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Query Service Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Query Service Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Service Mapping": {
      "main": [
        [
          {
            "node": "IF (No Service Found)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (No Service Found)": {
      "main": [
        [
          {
            "node": "Extract Service ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Service ID": {
      "main": [
        [
          {
            "node": "Get Service Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Service Data": {
      "main": [
        [
          {
            "node": "Extract Service Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Service Parameters": {
      "main": [
        [
          {
            "node": "Format Current Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Response": {
      "main": [
        [
          {
            "node": "Format Current Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Current Date": {
      "main": [
        [
          {
            "node": "Prepare Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response Data": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    {
      "name": "SynchroAI"
    },
    {
      "name": "WhatsApp"
    },
    {
      "name": "Shared"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-16T00:35:07+08:00",
  "versionId": "abcd1234-5678-90ef-ghij-klmnopqrstuv"
}
