N8N Nodes JSON/Data_Flow_Core_Nodes.json
{
  "name": "Data,Flow,Core Nodes",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        -40
      ],
      "id": "be7b90ab-5320-4b9f-9be7-f355a881decd",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44a6fee3-aaf3-4692-8aef-00aa74a66c00",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "87029203-cf84-4f69-8dc2-61a7a94d968a",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        -40
      ],
      "id": "07f0a250-e863-4324-83f4-052b626a9fe8",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -220
      ],
      "id": "af172b79-a989-4c4f-a1b3-1db5b2405913",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1240,
        0
      ],
      "id": "7443c193-cf0e-4c87-9537-ddb89638bf32",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1460,
        0
      ],
      "id": "7c0d4a75-a9ac-4539-8f4a-73ea937969c5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1280,
        -300
      ],
      "id": "41130634-0d85-4a39-a901-20c50b77bb16",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ca851ffd-7b25-4c37-9f17-0201e282b95b",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1500,
        -280
      ],
      "id": "c7b40cbd-69a0-4911-86c1-d38bbea59947",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "92b25120-b455-4424-a0e2-a2a57554ba4b"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        940,
        -160
      ],
      "id": "547758f9-230b-4bb9-8adb-9881532fd96f",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        -140
      ],
      "id": "936adb45-5c17-4102-9fe5-91f21062be03",
      "name": "Wait",
      "webhookId": "fe2cfe94-1182-49bc-a690-3f8a0070c980"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        860,
        40
      ],
      "id": "b67298f2-463d-4c0e-a5b1-f40cb16f5d96",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        940,
        -300
      ],
      "id": "bc69153c-1f3f-4ce0-868b-5f9a3ec24d09",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        740,
        -320
      ],
      "id": "75817a5c-35a5-44c2-9bd8-566e3d8bbbc7",
      "name": "Summarize"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        300,
        -260
      ],
      "id": "2ab4420a-0231-4452-8a91-9260575924ca",
      "name": "HTML"
    },
    {
      "parameters": {
        "operation": "convertToHtmlTable",
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        100,
        -220
      ],
      "id": "388fe966-a3c0-43a7-b6ae-a6a093d69c2f",
      "name": "HTML1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        100,
        -400
      ],
      "id": "478885c6-a382-4cfe-9bff-834372b2d2d0",
      "name": "HTML2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -200,
        0
      ],
      "id": "052bb6ab-0946-4bb2-9de5-fb97ffb69484",
      "name": "Markdown"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -160,
        220
      ],
      "id": "da62b470-cdef-44fa-982d-44247c53f5fe",
      "name": "Markdown1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        60,
        220
      ],
      "id": "4611f121-017e-4ab1-ba14-fd51b2139603",
      "name": "XML"
    },
    {
      "parameters": {
        "mode": "jsonToxml",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        360,
        220
      ],
      "id": "8a77a329-ff22-48ae-9e6e-878511a7eb52",
      "name": "XML1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -320,
        -340
      ],
      "id": "da9905d6-a84c-466b-9cad-722302799eff",
      "name": "Sort"
    },
    {
      "parameters": {
        "type": "random"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -420,
        -120
      ],
      "id": "64b6be45-543d-4261-87f7-208067f7c9b5",
      "name": "Sort1"
    },
    {
      "parameters": {
        "type": "code"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -500,
        -380
      ],
      "id": "13393540-4455-4c91-9a1e-6c0c567dffb2",
      "name": "Sort2"
    },
    {
      "parameters": {
        "operation": "compress"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -80,
        -540
      ],
      "id": "641b4a68-7d7f-4954-a509-498a50708f61",
      "name": "Compression"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -320,
        -560
      ],
      "id": "7a7b3603-e2ed-4afe-a659-8a087c08911c",
      "name": "Compression1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1080,
        -500
      ],
      "id": "a12f4bbc-0953-4a7e-8b69-1dc489f5b8d8",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1100,
        -260
      ],
      "id": "78964212-c594-4725-9d4a-b2e56dd4c295",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "iCal",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1040,
        -40
      ],
      "id": "f9aa7420-c9df-419c-b478-273a34475ec6",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1060,
        280
      ],
      "id": "2ff3f65f-e99b-4df8-8c26-925e6eee411d",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "operation": "ods",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -740,
        -160
      ],
      "id": "1b8393d8-a6c5-43ce-81a5-293b7f2388cb",
      "name": "Convert to File4"
    },
    {
      "parameters": {
        "operation": "rtf",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -680,
        60
      ],
      "id": "97da57e7-9005-46cf-bf2e-2d2ce0bd08bc",
      "name": "Convert to File5"
    },
    {
      "parameters": {
        "operation": "toText",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -720,
        -440
      ],
      "id": "46b99cb4-56db-4fb7-8370-0c8da9760283",
      "name": "Convert to File6"
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -860,
        -620
      ],
      "id": "518b8088-0d5c-4066-b4d7-c7864202d747",
      "name": "Convert to File7"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1320,
        -380
      ],
      "id": "519e65ec-cf69-40a7-bb4b-7b693ffe2500",
      "name": "Convert to File8"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1380,
        80
      ],
      "id": "a292114a-5afd-4648-bc7c-5df6e55aa4ad",
      "name": "Convert to File9"
    },
    {
      "parameters": {
        "operation": "information"
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -180,
        -200
      ],
      "id": "a8e99a8c-3a48-4c2f-b250-a2c0f6ccddec",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1760,
        -480
      ],
      "id": "086a1558-84fb-4423-80a2-952720e11697",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1760,
        -300
      ],
      "id": "5eef5753-a2a9-4b50-92fb-4e745e1de93c",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "fromIcs",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1760,
        -120
      ],
      "id": "eb5e149b-e9c4-4373-94dc-ba073fa66250",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1760,
        60
      ],
      "id": "e8fa91d8-3142-400a-8e82-fac6f1493440",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "operation": "ods",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1760,
        240
      ],
      "id": "1b90d558-8d53-40c2-84cc-c57bccba8de7",
      "name": "Extract from File4"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1760,
        440
      ],
      "id": "042be186-1ed9-4088-87b5-f227f535869f",
      "name": "Extract from File5"
    },
    {
      "parameters": {
        "operation": "rtf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1440,
        460
      ],
      "id": "edf91ea4-1fa4-433b-8eac-6eb7b7c9074f",
      "name": "Extract from File6"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1180,
        460
      ],
      "id": "54338723-2378-4c6b-a3a0-fd072f17a4eb",
      "name": "Extract from File7"
    },
    {
      "parameters": {
        "operation": "xml",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1320,
        260
      ],
      "id": "d2c39b74-0d49-47f1-b0d8-0862129c06e5",
      "name": "Extract from File8"
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -860,
        480
      ],
      "id": "6e80ba49-3e4e-4348-9810-5db8292fe5fc",
      "name": "Extract from File9"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -620,
        380
      ],
      "id": "c99aafe1-ce15-41fd-b57b-5b7dee97e26e",
      "name": "Extract from File10"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -820,
        280
      ],
      "id": "580ee4b8-28c0-4eab-8c8e-70dc79e71e89",
      "name": "Extract from File11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        480
      ],
      "id": "560c1eec-1a64-40c7-bdf3-7104f426297f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "DELETE",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        480
      ],
      "id": "aa6fd49c-a289-4e27-b436-05d7a4b31437",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "HEAD",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        460
      ],
      "id": "fab19e19-e63c-42aa-a627-b55678363199",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "OPTIONS",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        460
      ],
      "id": "9946a585-6ac8-40c0-bb68-8a2311df3e54",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "PATCH",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        480
      ],
      "id": "ebf2f80f-7b3b-446c-86b6-b13c0e81ede5",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        380
      ],
      "id": "555dbe81-33f6-4349-b427-18743a1df645",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "method": "PUT",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        240
      ],
      "id": "0388ce7a-882b-4632-b114-8e5e90ffc854",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "0e5667ac-f596-4248-a1b3-f9d5075e6969",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -660,
        760
      ],
      "id": "5b2c83b3-11cd-4d80-b748-643cc7f53ff7",
      "name": "Webhook",
      "webhookId": "0e5667ac-f596-4248-a1b3-f9d5075e6969"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        440
      ],
      "id": "b22c338f-d958-4828-8c59-0992f193bc1d",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -660,
        1040
      ],
      "id": "84a9a8b9-442d-4a89-9424-abcd0cb811d0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "0e5667ac-f596-4248-a1b3-f9d5075e6969",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -380,
        780
      ],
      "id": "98d9f494-04d3-4b70-a570-4477ea4fd1c6",
      "name": "Webhook1",
      "webhookId": "0e5667ac-f596-4248-a1b3-f9d5075e6969"
    },
    {
      "parameters": {
        "httpMethod": "HEAD",
        "path": "0e5667ac-f596-4248-a1b3-f9d5075e6969",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        780
      ],
      "id": "36083280-ad44-4e92-8d5b-8f2df2608ce0",
      "name": "Webhook2",
      "webhookId": "0e5667ac-f596-4248-a1b3-f9d5075e6969"
    },
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "0e5667ac-f596-4248-a1b3-f9d5075e6969",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        360,
        780
      ],
      "id": "86087850-6248-44fc-8b0d-30ca9af76adc",
      "name": "Webhook3",
      "webhookId": "0e5667ac-f596-4248-a1b3-f9d5075e6969"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0e5667ac-f596-4248-a1b3-f9d5075e6969",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        780,
        800
      ],
      "id": "5c6599b9-0b3b-4ca9-9302-e545da456753",
      "name": "Webhook4",
      "webhookId": "0e5667ac-f596-4248-a1b3-f9d5075e6969"
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "0e5667ac-f596-4248-a1b3-f9d5075e6969",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1060,
        800
      ],
      "id": "cf00b1a2-55d4-4d91-8df2-592dd5b78822",
      "name": "Webhook5",
      "webhookId": "0e5667ac-f596-4248-a1b3-f9d5075e6969"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -360,
        1040
      ],
      "id": "d0620fce-9411-435c-a11e-62df651636c3",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -20,
        1040
      ],
      "id": "989d19a4-328e-45fd-9f32-4b4f816efaa0",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        380,
        1100
      ],
      "id": "d1b3a286-97c4-41ec-b1f5-be4087d050db",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "respondWith": "jwt",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        760,
        1100
      ],
      "id": "321509a6-6219-4362-9267-4277146ef79e",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        560,
        980
      ],
      "id": "fd4e364a-e108-474c-89ae-8de27d7c7193",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1060,
        1040
      ],
      "id": "c6c8b9b3-de2f-4aba-8d4b-d5cf8f7098c5",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        820,
        960
      ],
      "id": "2099f36f-6917-4754-98f0-40f9e8b09610",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -20,
        1280
      ],
      "id": "1401e5e1-bace-4e70-9f6f-9cf5838f1521",
      "name": "FTP"
    },
    {
      "parameters": {
        "operation": "list"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        260,
        1340
      ],
      "id": "ab62b893-e6ae-463b-ab01-aae769f1bfba",
      "name": "FTP1"
    },
    {
      "parameters": {
        "operation": "rename",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        480,
        1380
      ],
      "id": "a06fa7ee-d4fa-4e52-a94c-7bda06f58535",
      "name": "FTP2"
    },
    {
      "parameters": {
        "operation": "upload"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        740,
        1380
      ],
      "id": "0dc1578b-addc-40b0-ae37-2bb4418a69cf",
      "name": "FTP3"
    },
    {
      "parameters": {
        "operation": "delete",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -240,
        1300
      ],
      "id": "afd4846a-a3c8-4d89-af69-a30150265ee6",
      "name": "FTP4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        960,
        1380
      ],
      "id": "fcc8004d-7647-4572-a3e9-4835c6ec5f14",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1620,
        740
      ],
      "id": "82bb2177-3dda-47ce-94a2-ad07952ed30d",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1380,
        740
      ],
      "id": "60a01119-4e64-4cdc-83ee-1dc638e88733",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1140,
        740
      ],
      "id": "8705028f-7cfb-4f6d-9c7f-2c513428647e",
      "name": "Date & Time2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1620,
        920
      ],
      "id": "3c9d5c02-07f1-41d6-bad5-ac46a5caf1aa",
      "name": "Date & Time3"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1380,
        940
      ],
      "id": "e5d1e0d4-b20b-4d8b-a4f7-257114e71f0a",
      "name": "Date & Time4"
    },
    {
      "parameters": {
        "operation": "roundDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1140,
        920
      ],
      "id": "8494944c-7930-402a-a5bd-10150a364337",
      "name": "Date & Time5"
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1600,
        1120
      ],
      "id": "371f9753-9308-4b86-97a5-7f0d2d4685cd",
      "name": "Date & Time6"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    },
    "Compare Datasets": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        []
      ]
    },
    "Summarize": {
      "main": [
        []
      ]
    },
    "Markdown1": {
      "main": [
        []
      ]
    },
    "Sort2": {
      "main": [
        []
      ]
    },
    "Compression1": {
      "main": [
        []
      ]
    },
    "Convert to File9": {
      "main": [
        []
      ]
    },
    "Edit Image": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "FTP3": {
      "main": [
        []
      ]
    },
    "Extract from File5": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a5d2e51-9f15-4a86-83d6-bb470e0113a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d206a260d87a1664ec78b0de606cd90a0fe95cd39b0bbf3a5b38aeae7fa0d39"
  },
  "id": "ESKMwRBPoVh8Dh1I",
  "tags": []
}